<div class="col-md-12">
  <div class="col-md-6">
  <div class="panel panel-default " id="contacts">
    <div class="panel-heading">
      Latest Contacts
    </div>
    <div class="panel-body">
      <table class="table table-bordered table-striped table-condensed">
      <% @contacts.each do |contact| %>
      <tr>
	<td>
	  <a href="/contacts/#contact-<%= contact.id %>"><%= contact.name %></a>
	</td>
	<td>
	  <%= contact.created_at.strftime('%B %d, %Y') %>
	</td>
	
	</tr>
      <% end %>
      </table>
    </div>
    <div class="panel-footer">
      <a href="/contacts/" class="btn-sm btn-primary "> See All </a>
      <a href="/contacts/add" class="btn-sm btn-success pull-right "> + </a>      
    </div>  
  </div>
  </div>
  <div class="col-md-6">
  <div class="panel panel-default " id="comments">
    <div class="panel-heading">
      Latest comments
    </div>
    <div class="panel-body">
      <table class="table table-bordered table-striped table-condensed">
      <% @comments.each do |comment| %>
      <tr>
	<td>
	  <%= comment.comment %>
	</td>
	<td>
	  <%= comment.created_at.strftime('%B %d, %Y') %>
	</td>
	</tr>
      <% end %>
      </table>
    </div>
  </div>
  </div>
</div>
