
<h2>Contacts</h2>
<div class="row" id="contacts">
  <div class="col-md-12">
<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>Name</th> 
      <th>Url</th>
      <th>Status</th>	      
    </tr>
  </thead>
  <tbody>  
    <%  @contacts.each_with_index do |contact,idx|  %>

    <tr id="contact-<%= idx%>" data-id="<%= contact.id%>" class="contact <%= Helpers::Contact.date_heat(contact.created_at) %>">
      <td><%= contact.name %></td>  
      <td><%= contact.url %></td>
      <td><span class="badge"><%= contact.status %></span></td>
    </tr>


    <%  end %>
    
  </tbody>    
</table>
</div>

<div id="cBox" class="col-md-4" style="display:none">
  <div class="row">
    <div id="currentContact" class="panel panel-default" >
          <div class="panel-heading">Details for <span data-contact="name"></span></div>
	  <div class="panel-body">
	  <p data-contact="description">
	  </p>
	  <dl>
	    <dt>Status</dt>
	    <dd data-contact="status"></dd>
	    <dt>Url</dt>
	    <dd data-contact="url"></dd>
	    <dt>Created</dt>
	    <dd data-contact="created_at"></dd>
	    <dt>By</dt>
	    <dd data-contact="created_by"></dd>	    	    
	  </dl>
	  </div>
    </div>
  </div>
  <div class="row">
    <div id="commentList" class="panel panel-default">
        <div class="panel-heading">Comments</div>
	<div class="panel-body">
	  <div class="list"></div>
	  <hr />
	  <div id="commentForm">
	    <%= @comment_form.render %>
	  </div>
	</div>
    </div>
  </div>
</div>
</div>

